* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: lighter;
	font-size: small;
}

/* FONTAWESOME */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  color: #fff;
}

/* SECTION STYLES */

.heading-two {
	margin-top: 50px;
	padding: 1rem;
	font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.heading-three {
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px;
}

.heading-four {
	font-weight: 500;
}

.section-p {
	padding: 1rem;
	font-size: small;
	font-weight: lighter;
}

.hr {
	border-top: 2px solid #ffa500;
    width: 150px;
    margin: 0 auto;
}

.img {
	width: 100%;
}

/* HEADER */

.header-container {
	display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 100%;
    padding: 10px 0;
}

.header-text {
	text-align: right;
	font-family: Raleway, sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

.header-name {
	font-size: 1.75em;
	font-weight: 200;
}


.logo {
	max-width: 50px;
	max-height: 50px;
}

/* MAIN */

.container {
	font-family: 'Comfortaa', cursive;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECTION HERO IMAGE */

.hero-image {
  	display: flex;
	width: 100%;
	height: 100vh;
	background: url(../img/bg-cover.jpg) no-repeat center;
    background-size: cover;
}

.center-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	color: #fff;
	font-family: 'Comfortaa', cursive;
}

.center-content h1 {
	text-transform: uppercase;
    padding: 10px;
}

.center-btns {
	display: flex;
    align-items: center;
    justify-content: center;
}

.button {
	text-transform: uppercase;
  	color: #fff;
  	min-width: 48px;
  	padding: 20px 10px;
  	text-decoration: none;
  	margin: 1rem;
  	font-weight: bold;
  	border-radius: 5px;
  	background-color: #ffa500;
}

/* SECTION SOBRE MIM */

.section-sobre-mim {
	background-color: #e7e7e7;
}

.sobre-mim-texto {
    width: 80%;
    margin: 50px auto;
    text-align: justify;
}

/* SECTION PROJETOS */

.section-projetos {
	text-align: center;
}

.projeto-grid-container {
	display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}

.projeto-grid-item {
	display: flex;
    flex-direction: column;
	margin: 1rem;
	flex-basis: 30%;
}

.projeto-grid-item h2 {
	margin: 0.5rem;
	font-size: 1rem;
	font-weight: lighter;
	text-transform: uppercase;
}

/* SECTION CONTATO */

.section-contato {
	text-align: center;
	background-color: #e7e7e7;
}

.info-contato {
	display: flex;
    justify-content: center;
    margin: 50px auto;
}

.info-contato p {
	text-transform: uppercase;
	padding: 20px;
	border-left: 1px solid;
}

/* SECTION FOOTER */

.footer {
	text-align: center;
	background-color: #000;
}

.footer p {
	font-family: 'Comfortaa', cursive;
	color: #fff;
	padding: 20px;
}

/* Responsive Styles - Media Queries */



/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.header-container {
		flex-direction: column;
	}

	.header-text {
		text-align: center;
	}

	.header-name {
		padding: 10px 0;
	}

	.center-content {
		text-align: center;
	}

	.center-btns {
		flex-wrap: wrap;
		flex-direction: column;	
	}
	
	.button {
		font-size: 0.75rem;
	}

	.projeto-grid-container {
		flex-wrap: wrap;
	}

	.info-contato {
		flex-direction: column;
	}

	.info-contato p {
		border-top: 1px solid;
		border-left: none;
	}

	.footer {
		display: flex;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 533px) {
  .button {
  	font-size: 0.85rem;
  }

  .projeto-grid-container {
		flex-wrap: wrap;
	}

	.info-contato {
		flex-wrap: wrap;
	}

	.info-contato h3 {
		border-bottom: 1px solid
	}

	.info-contato p {
		border-left: none;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 534px) and (max-width: 960px) {
  .button {
  	font-size: 0.85rem;
  }

  .projeto-grid-container {
		flex-wrap: wrap;
	}
}



	/* Desktop Styles */
@media only screen and (min-width: 961px) {
.button {
		font-size: 1rem;	
	}
}